body {
    font-family: Arial, sans-serif;
    background-color:#fdecef;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f6b1c3;
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#restartButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #e88aa3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restartButton:hover {
    background-color: #dd728f;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 15px;
    width: 100%;
    max-width: 500px;
}

.card {
    width: 100%;
    padding-top: 100%; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: transparent;
    background-color: #f9d6df;
    border: 2px solid #f9d6df;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}

.card.flip {
    background-color: #fff;
    color: #333;
    transform: rotateY(180deg);
}

.card.matched {
    background-color: #f0f0f5; 
    cursor: default;
}

.card span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  display: none; 
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.message-content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#playAgainBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color:  #e88aa3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#playAgainBtn:hover {
    background-color:  #d9748e;
}

@media (max-width: 600px) {
    .card {
        font-size: 28px;
    }

    .message-content {
        padding: 15px 30px;
    }

    #restartButton, #playAgainBtn {
        padding: 8px 16px;
        font-size: 14px;
    }
}
